<html>
  <head>
    <title>Button</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
    <script id='sap-ui-bootstrap'
        src='/resources/sap-ui-core.js'
        data-sap-ui-theme='sap_belize'
        data-sap-ui-libs='sap.m'>
    </script>
    <script>
      angular.module('oui5', []);
    </script>
    <!-- <script src="/src/stubs.js"></script> -->
    <script src="/src/angular-oui5-bridge.js"></script>
    <script>
      jQuery.sap.registerModulePath("", "src");

      angular.module('oui5').controller('oui5Controller', function($scope) {
        var $ctrl = this;
        $ctrl.value = 'Replace me';
      });
		</script>
    <script>
    sap.ui.getCore().attachInit(function() {
      require([
      	'sap-define' // Only load SAP for testing
      ], function() {
        angular.bootstrap(document, ['oui5']);
      });
    });
    </script>
  </head>
  <body class="sapUiBody" ng-controller="oui5Controller as $ctrl">
    <h1>Demo live text updates</h1>
    <sap-m-input
      oui5-value="$ctrl.value"
      oui5-value-live-update="true"></sap-m-input>
    <br/>
    <span>{{$ctrl.value}}</span>
  </body>
</html>
